Thumbs.db
.DS_Store
.vs/
*.user
*.aps
*.pch
*.vspscc
*.vsscc
*.vssscc
*.suo
*.bak
*.log
*.tmp
obj/
[Dd]ebug*/
[Rr]elease*/
[Bb]in/
[Oo]bj/
_ReSharper*/
[Tt]est[Rr]esult*
packages/
!.nuget/NuGet.exe
*.pfx
